# LLM API Configuration
MISTRAL_API_KEY=<YOUR_KEY> 
GEMINI_API_KEY=<YOUR_KEY>

# GAME API Configuration
NEXT_PUBLIC_API_URL=<YOUR_KEY> 

# WebSocket Configuration
NEXT_PUBLIC_WS_URL=<YOUR_KEY>

# Agent Hyperparameters
TEMPERATURE=<TEMPERATURE>
TOP_P=<TOP_P>
TOP_K=<TOP_K>
MAX_OUTPUT_TOKENS=<MAX_OUTPUT_TOKENS>
